DiversityCheck/
*old/
.DS_Store
*.docx
GrowthCurves/
Metagrid/
EvolvingFront-venv/
EvolutionTracking/Aggeli_2021_SourceData/ 
EvolutionTracking/figures/fitmut1/Evo2D_CYR1_trajectories_fitness_establishment.pdf
EvolutionTracking/Aggeli2021_data/
EvolutionTracking/FitMut2/

